body {
    color: #393939;
    background: #fff;
}

.dark-mode {
    color: #393939;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(225, 180, 228, 0.6839110644257703) 75%, rgba(225, 122, 232, 0.5550595238095238) 84%, rgba(255, 171, 53, 0.7371323529411764) 100%);
}